#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}
#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}
#container a {
  text-decoration: none;
}
.card-task{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ion-card, .settings{
  position: relative;
  cursor: pointer;
  transition: all .3s ease;
  max-height: 320px;
}
ion-card:hover {
  transform: scale(1.01);
}
ion-card-title, li{
  max-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.line-through {
  text-decoration: line-through;
}
ul{
  padding: 1rem;
}
li{
  max-height: 41.6px;
  align-items: center;
  gap: .5rem;
  display: flex;
}
ion-card-subtitle{
  max-height: 150px;
  overflow: hidden;
}
.setting-icon{
  padding: .5rem;
}
.date{
  display: flex;
  padding-left: 1rem;
  align-items: center;
  padding-bottom: .5rem;
}
.done-trash{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ion-toggle {
  padding: 12px;
  --handle-width: 25px;
  --handle-height: 27px;
  --handle-max-height: auto;
  --handle-spacing: 6px;

  contain: none;
}
ion-toggle::part(track),
ion-toggle.toggle-checked::part(track) {
  height: 10px;
  width: 65px;
  background: #ddd;
  overflow: visible;
}
ion-toggle::part(handle) {
  background: #eb7769;
  border-radius: 4px;
  box-shadow: none;
}
ion-toggle.toggle-checked::part(handle) {
  background: #95c34e;
}